---
layout: default
---
<h1>{{ page.name }}</h1>
<h2>Average Buy Price: {{ page.average }}</h2>

{{ content }}

<!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
    <div class="tradingview-widget-container__widget"></div>
    <div class="tradingview-widget-copyright"><a href="https://uk.tradingview.com/symbols/{{page.ticker}}/" rel="noopener" target="_blank"><span class="blue-text">{{ page.name }}</span></a> by TradingView</div>
    <script type="text/javascript" src="https://s3.tradingview.com/external-embedding/embed-widget-symbol-info.js" async>
    {
    "symbol": "{{ page.ticker }}",
    "width": 750    ,
    "locale": "uk",
    "colorTheme": "light",
    "isTransparent": false
  }
    </script>
  </div>
  <!-- TradingView Widget END -->